---
import CallToAction from "./CallToAction.astro";
---

<aside>
  <h2>Need a style change?</h2>
  <CallToAction href="mailto:hollyberry7781@hotmail.com">
    Send Me a Message
  </CallToAction>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 1.5rem;
  }

  h2 {
    text-align: center;
  }

  @media (min-width: 50em) {
    aside {
      padding: 7rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      text-align: left;
    }
  }
</style>
