---
const year = new Date().getFullYear();
import Social from "./Social.astro";
---

<footer class="footer">
  <div class="footer-row">
    <Social platform="instagram" username="hollyblakeee" />
  </div>
</footer>
